@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 207, 136);
}
body{
    display: flex;
    justify-content: center;
}

.head.container h1{
    text-align: center;
    padding-top: 100px;
    color: #e04141;
}

.content{
text-align: center;
}

.receta1{
    padding-bottom: 10px;
    padding-top: 15px;
}
.receta2{
    padding-bottom: 10px;
    padding-top: 10px;
}
.receta3{
    padding-bottom: 10px;
    padding-top: 10px;
}
ul{
    list-style: none;
    
}
